services:
  reverse-proxy:
    image: caddy:2.10.0
    restart: 'no'
    configs:
      - source: reverse-proxy-config
        target: /etc/caddy/Caddyfile
    ports:
      - 8080:80
    profiles: ["full", "backend", "frontend"]

  sustainability-dashboard:
    image: ghcr.io/sustainability-zhaw/sustainability-dashboard:sha-0a36cd0
    restart: 'no'
    configs:
      - source: sustainability-dashboard-config
        target: /usr/share/caddy/config.json
    profiles: ["full", "frontend"]

  database:
    image: dgraph/standalone:v24.1.4
    restart: 'no'
    healthcheck:
      test: curl -IL localhost:6080/state
      interval: 10s
      timeout: 5s
      retries: 3
    profiles: ["full", "backend", "frontend", "init"]

  message-queue:
    hostname: mq
    image: rabbitmq:3.12.12-management
    restart: 'no'
    configs:
      - source: message-queue-config
        target: /etc/rabbitmq/rabbitmq.conf
      - source: message-queue-definitions
        target: /etc/rabbitmq/definitions.json
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 10s
      timeout: 5s
      retries: 3
    profiles: ["full", "backend"]

  download-gateway: 
    image: ghcr.io/sustainability-zhaw/download-gateway:sha-8be20d3
    restart: 'no'
    configs:
    - source: download-gateway-config
      target: /etc/app/config.yaml
    profiles: ["full", "backend"]

  graphiql:
    image: caddy:2.10.0
    restart: 'no'
    volumes:
      - ./graphiql:/usr/share/caddy
    depends_on:
      database:
        condition: service_healthy
    profiles: ["full", "backend", "frontend"]

  keyword-webhook:
    image: ghcr.io/sustainability-zhaw/keyword-webhook:sha-b82de89
    restart: 'no'
    configs:
      - source: keyword-webhook-config
        target: /etc/app/config.json
    depends_on:
      database:
        condition: service_healthy
      message-queue:
        condition: service_healthy
    profiles: ["full", "backend"]

  sdg-indexer: 
    image: ghcr.io/sustainability-zhaw/sdg-indexer:sha-0c5b8a3
    restart: "no"
    configs:
      - source: sdg-indexer-config
        target: /etc/app/config.json
    depends_on:
      database:
        condition: service_healthy
      message-queue:
        condition: service_healthy
    profiles: ["full", "backend"]

  extraction-dspace: 
    image: ghcr.io/sustainability-zhaw/extraction-dspace:sha-768ece6
    restart: "no"
    configs:
      - source: extraction-dspace-config
        target: /etc/app/config.json
    depends_on:
      database:
        condition: service_healthy
      message-queue:
        condition: service_healthy
    profiles: ["full", "backend"]

  extraction-projects: 
    image: ghcr.io/sustainability-zhaw/extraction-projects:sha-1cd3c6b
    restart: "no"
    configs:
      - source: extraction-projects-config
        target: /etc/app/config.json
    secrets:
      - source: extraction-projects-secrets
        target: /etc/app/secrets.json
    depends_on:
      database:
        condition: service_healthy
      message-queue:
        condition: service_healthy
    profiles: ["full", "backend"]

  extraction-evento: 
    image: ghcr.io/sustainability-zhaw/extraction-evento:sha-8399418
    restart: "no"
    configs:
      - source: extraction-evento-config
        target: /etc/app/config.json
    depends_on:
      database:
        condition: service_healthy
      message-queue:
        condition: service_healthy
    profiles: ["full", "backend"]

  ad-resolver: 
    image: ghcr.io/sustainability-zhaw/ad-resolver:sha-22412bd
    restart: "no"
    configs:
      - source: ad-resolver-config
        target: /etc/app/config.json
    secrets:
      - source: ad-resolver-secrets
        target: /etc/app/secrets.json
    depends_on:
      database:
        condition: service_healthy
      message-queue:
        condition: service_healthy
    profiles: ["full", "backend"]

  resolver-classification: 
    image: ghcr.io/sustainability-zhaw/resolver-classification:sha-546f9b3
    restart: "no"
    configs:
      - source: resolver-classification-config
        target: /etc/app/config.json
    depends_on:
      database:
        condition: service_healthy
      message-queue:
        condition: service_healthy
    profiles: ["full", "backend"]

  resolver-department: 
    image: ghcr.io/sustainability-zhaw/resolver-department:sha-bf2f002
    restart: "no"
    configs:
      - source: resolver-department-config
        target: /etc/app/config.json
    depends_on:
      database:
        condition: service_healthy
      message-queue:
        condition: service_healthy
    profiles: ["full", "backend"]

  dgraph-schema:
    image: ghcr.io/sustainability-zhaw/dgraph-schema:sha-bc5f77b
    restart: 'no'
    environment:
      DGRAPH_SERVER: http://database:8080
      TIMEOUT: 0
    depends_on:
      database:
        condition: service_healthy
    profiles: ["init"]

configs:
  reverse-proxy-config:
    file: ./configs/reverse-proxy/Caddyfile
  sustainability-dashboard-config:
    file: ./configs/sustainability-dashboard/config.json
  message-queue-config:
    file: ./configs/message-queue/rabbitmq.conf
  message-queue-definitions:
    file: ./configs/message-queue/definitions.json
  download-gateway-config:
    file: ./configs/download-gateway/config.yaml
  keyword-webhook-config:
    file: ./configs/keyword-webhook/config.json
  sdg-indexer-config:
    file: ./configs/sdg-indexer/config.json
  extraction-dspace-config:
    file: ./configs/extraction-dspace/config.json
  ad-resolver-config:
    file: ./configs/ad-resolver/config.json
  extraction-projects-config:
    file: ./configs/extraction-projects/config.json
  extraction-evento-config:
    file: ./configs/extraction-evento/config.json
  resolver-classification-config:
    file: ./configs/resolver-classification/config.json
  resolver-department-config:
    file: ./configs/resolver-department/config.json

secrets:
  extraction-projects-secrets:
    file: ./secrets/extraction-projects/secrets.json
  ad-resolver-secrets:
    file: ./secrets/ad-resolver/secrets.json
