{
    # Email used for letsencypt or zerossl
    email foo@bar.com

    # expose api admin on the network
    # admin  :2019
    admin off
}


:80 {
    redir / /dashboard/

    rewrite /webhook/* /webhook/payload
    rewrite /webhook /webhook/payload

    rewrite /api/* /api/graphql
    rewrite /api /api/graphql
    
    rewrite /stats/* /stats/query
    rewrite /stats /stats/query

    handle_path /dashboard/download/* {
        reverse_proxy download-gateway:8080
        # reverse_proxy contrib-dlgw-1:8080
    }

    handle_path /dashboard/* {
        reverse_proxy sustainability-dashboard:80
    }

    handle_path /webhook/* {
        reverse_proxy keyword-webhook:8090
    }

    handle_path /api/* {
        reverse_proxy database:8080
    }

    handle_path /stats/* {
        reverse_proxy database:8080
    }

    handle_path /graphiql/* {
        reverse_proxy graphql-explorer:80
    }

    handle_path /rabbitmq/* {
        # Expose rabbitmq management port for development
        reverse_proxy mq:15672
    }
}
