{
    # Email used for letsencypt or zerossl
    email foo@bar.com

    # expose api admin on the network
    # admin  :2019
    admin off
}


# Falls der Server eine DynDNS Adresse hat, kann auch SSL verwendet werden.
# In diesem Fall muss der mein-pi.example.com:443 anstelle von 80 verwendet werden.
#
# https://caddyserver.com/docs/automatic-https

:80 {
    # Der Standardeinstieg ist das Dashboard
    redir / /dashboard/

    # Das Frontend des Projekts ist Web-basiert und benötigt zusätzliche rewrite-Einstellungen, 
    # die für einfache Weiterleitungen nicht notwendig sind.

    rewrite /webhook/* /webhook/payload
    rewrite /webhook /webhook/payload

    rewrite /api/* /api/graphql
    rewrite /api /api/graphql
    
    rewrite /stats/* /stats/query
    rewrite /stats /stats/query

    # Im folgenden werden die Weiterleitungen an die Service Endpunkte definiert.
    # Die Namen hinter reverse_proxy müssen mit den Namen der Docker Container im Compose-File übereinstimmen.
    # Wichtig ist hier, dass der Port des Containers auch angegeben wird, sonst versucht Caddy eine 
    # Verbindung auf Port 80.
    # Der Pfad ist frei wählbar, darf sich aber nicht mit anderen Pfaden überschneiden.
    # 
    # Anschliessend kann der Container über den Pfad angesprochen werden.
    #
    # Beispiele: 
    # http://mein-pi/dashboard
    # http://mein-pi/api


    handle_path /dashboard/download/* {
        reverse_proxy download-gateway:8080
        # reverse_proxy contrib-dlgw-1:8080
    }

    handle_path /dashboard/* {
        reverse_proxy sustainability-dashboard:80
    }

    handle_path /webhook/* {
        reverse_proxy keyword-webhook:8090
    }

    handle_path /api/* {
        reverse_proxy database:8080
    }

    handle_path /stats/* {
        reverse_proxy database:8080
    }

    handle_path /graphiql {
        reverse_proxy graphiql:80
    }

    handle_path /graphiql/* {
        reverse_proxy graphiql:80
    }

    handle_path /rabbitmq/* {
        # Expose rabbitmq management port for development
        reverse_proxy mq:15672
    }
}
